<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="container mt-5 border border-ligth border border-3 rounded">
    <h1 class="text-center mb-4">Hello, Home!</h1>

    <form th:action="@{/tickets}" method="get" class="d-flex align-items-center mb-3">
        <button type="submit" class="btn btn-primary me-2">Get Ticket</button>
        <div class="form-group">
            <input type="number" name="id" class="form-control" required>
        </div>
    </form>

    <form th:action="@{/tickets/update}" method="get" class="d-flex align-items-center mb-3">
        <button type="submit" class="btn btn-warning">Update Ticket</button>
        <div class="form-group">
            <input type="number" name="id" class="form-control" required>
        </div>
    </form>

    <div class="d-flex align-items-center mb-3">
        <form th:action="@{/tickets/all}" method="get" class="form-inline justify-content-center mb-3">
            <button type="submit" class="btn btn-secondary">Get All Tickets</button>
        </form>

        <form th:action="@{/tickets/create}" method="get" class="form-inline justify-content-center mb-3">
            <button type="submit" class="btn btn-success">Create Ticket</button>
        </form>

        <form th:action="@{/logout}" method="post" class="form-inline justify-content-center mb-3">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</div>

</body>
</html>